<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

body
{
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.settings1{
	margin:50px 100px 20px 100px;
	background-color:#f6f6f6;
	padding: 20px 20px 0px 40px;
}
.personalinfo1{
	padding: 25px;
	height: 500px;
	width: 100%;
}
